@model CRUD_Repository_Ajax.Models.SalesMaster

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SalesMaster</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="InvoiceNO" class="control-label"></label>
                <input asp-for="InvoiceNO" class="form-control" />
                <span asp-validation-for="InvoiceNO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesDate" class="control-label"></label>
                <input asp-for="SalesDate" class="form-control" />
                <span asp-validation-for="SalesDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalQty" class="control-label"></label>
                <input asp-for="TotalQty" class="form-control" />
                <span asp-validation-for="TotalQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
