<h2>All Employee</h2>
<div class="float-r">
    <button style="font-size:20px;" title="Add Product" id="btnModal"
            data-toggle="modal" data-target="#MyModal">
        <i class="fa fa-plus"></i>
    </button>
</div>
<table class="table table-bordered" id="tble">

    <thead>
        <tr>
            <td>ProductCode</td>
            <td>ProductName</td>
            <td>UnitPrice</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter  Product Information</h5>
                <button type="button" class="close" data-dismiss="modal"
                              aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>ProductCode</label>
                    <input type="text" class="form-control" id="txtProductCode" />
                </div>
                <div class="form-group">
                    <label>ProductName</label>
                    <input type="text" class="form-control" id="txtProductName" />
                </div>
                <div class="form-group">
                    <label id="txtId" hidden></label>
                    <label>UnitPrice</label>
                    <input type="text" class="form-control" id="txtUnitPrice" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="Close()" id="btnClose" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSave">Save changes</button>
                <button type="button" class="btn btn-primary" onclick="Update()" id="btnUpdate">Update changes</button>

            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $("#btnUpdate").hide();
            //$("#MyModal").modal('hide');
            $("#btnSave").show();
            var IsEdit = false;
            $("#MyModal").modal({
                backdrop: 'static',
                keyboard: false,
                /*show: true*/
            });
            load()

            $("#btnModal").click(function () {
                $("#MyModal").modal('show')
            })
            $("#btnSave").click(function () {
                var obj = {
                    productCode: $("#txtProductCode").val(),
                    productName: $("#txtProductName").val(),
                    unitPrice: $("#txtUnitPrice").val()
                }
                console.log(obj)
                $.ajax({
                    url: "Product/Create",
                    //alert("hi");
                    type: "JSON",
                    method: "POST",
                   // type: "POST",
                   //url: "/Product/Create",
                //url: "/SalesMasters/Create",
                  //dataType: "json",
                    //data: JSON.stringify(obj),
                    data: obj,
                    contentType: "application/json",
                    success: function (result) {
                        alert("hi");
                    //success: function(data) {
                        console.log(result)
                        //alert("hi")
                        $("#MyModal").modal('hide')
                        clearALl(); load();
                    },
                    error: function (er) {
                        console.log(er)
                    }
                })
            })
            

        })
        function clearALl() {
            $("#txtProductCode").val(''),
            $("#txtProductName").val(''),
            $("#txtUnitPrice").val(''),
            $("#txtId").empty()
        }
        function Close() {
            
            $("#MyModal").modal('hide');

            clearALl();
            
        }
        function load() {
            $.ajax({
                url: "Product/GetAll",
                type: "JSON",
                method: "GET",
                success: function (result) {
                    console.log(result.data)
                    $("#tble tbody").empty();
                    $.each(result.data, function (i, v) {
                        console.log(v[0])
                        var html = "<tr><td>" + v.productCode + "</td>" +
                            "<td>" + v.productName + "</td>" +
                            " <td>" + v.unitPrice + "</td>" +
                            " <td> <button onClick='Edit(" + v.id + ")'>Edit </button></td>" +
                            " <td> <button onClick='Delete(" + v.id + ")'>Delete </button></td></tr>";

                        $("#tble tbody").append(html)
                    })
                },
                error: function (er) {
                    console.log(er)
                }
            })
        }

        function Edit(id) {
            /*alert(id)*/
            $("#btnUpdate").show();
            $("#btnSave").hide();

            $.ajax({
                url: "Product/GetByID" + id,
                type: "JSON",
                method: "GET",
                success: function (result) {
                    $("#exampleModalLabel").html("Update Product Information");
                    console.log(result)
                    IsEdit = true;

                    $("#txtProductCode").val(result.productCode),
                        $("#txtProductName").val(result.productName),
                        $("#txtUnitPrice").val(result.unitPrice),
                        $("#txtId").val(result.id)

                    $("#MyModal").modal('show')
                },
                error: function (er) {
                    console.log(er)
                }
            })

        }
        function Update() {
            alert($("#txtId").val());
            var url = "Product" + $("#txtId").val();

            var object = {

                productCode: $("#txtProductCode").val(),
                productName: $("#txtProductName").val(),
                UnitPrice: $("#txtUnitPrice").val(),
                id: $("#txtId").val()
            }
            $.ajax({
                url: url,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: "Put",
                data: JSON.stringify(object),
                success: function (result) {
                    $("#MyModal").modal('hide');
                    load();
                    clearALl();
                    console.log("....")
                    console.log(result)
                    
                    $("#btnUpdate").hide();
                    $("#btnSave").show();
                },
                error: function (er) {
                    console.log(er.responseText);
                }
            })
        }

        function Delete(id) {
            var url = "/Product/" + id;
            $.ajax({
                url: url,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: "Delete",
                success: function (result) {
                    clearALl();
                    
                    load();
                },
                error: function (msg) {
                    alert(msg);
                }
            });
        }
    </script>
}